In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName("akila").getOrCreate()

In [0]:
emp_data =[
["001", "101", "John Doe", "30", "Male", "50000", "2015-01-01"],
["002","101", "Jane Smith", "25", "Female", "45000", "2016-02-15"],
["003", "102", "Bob Brown", "35", "Male", "55000", "2014-05-01"],
["004","102", "Alice Lee","28", "Female", "48000", "2017-09-30"],
["005", "103","Jack Chan", "40", "Male", "60000", "2013-04-01"],
["006","103","Jill Wong", "32", "Female", "52000", "2018-07-01"],
["007","101","James Johnson", "42", "Male", "70000", "2012-03-15"],
["008","102", "Kate Kim", "29", "Female", "51000", "2019-10-01"],
["009","103", "Tom Tan","33", "Male", "58000", "2016-06-01"],
["010","104", "Lisa Lee", "27", "Female", "47000", "2018-08-01"],
["011", "104", "David Park","38", "Male", "65000", "2015-11-01"],
["012","105", "Susan Chen","31", "Female", "54000", "2017-02-15"],
["013", "106", "Brian Kim", "45", "Male", "75000", "2011-07-01"],
["014", "107", "Emily Lee", "26", "Female", "46000", "2019-01-01"],
["015","106", "Michael Lee", "37", "Male", "63000","2014-09-30"],
["016", "107", "Kelly Zhang", "30", "Female", "49000", "2018-04-01"],
["017","105", "George Wang", "34", "Male", "57000", "2016-03-15"],
["018","104", "Nancy Liu", "29", "Female", "50000", "2017-06-01"],
["019","103", "Steven Chen", "36", "Male", "62000", "2015-08-01"],
["020","102", "Grace Kim", "32", "Female", "53000", "2018-11-01"]
]
emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [0]:
spark.createDataFrame(data=emp_data, schema=emp_schema).write.mode("overwrite").saveAsTable("employee")

In [0]:
df = spark.createDataFrame(data=emp_data, schema=emp_schema)

In [0]:
display(df)

In [0]:
df.write.mode("overwrite").saveAsTable("employee")

In [0]:
%sql
select * from employee

In [0]:
dfFinal = df.where("salary > 5000")
display(dfFinal)

In [0]:
dfFinal.write.format("csv").save("data/csv/empFinal.csv")

In [0]:
from pyspark.sql.types import StringType,IntegerType, StructType,StructField

schema = StructType([StructField("name", StringType(), True),
                     StructField("age", IntegerType(), True)
                     ])

In [0]:
data = [("james",65),
        ("akila",43),
        ]

In [0]:
ddf = spark.createDataFrame(data, schema)

In [0]:
display(ddf)

In [0]:
df.columns

In [0]:
from pyspark.sql.functions import *

dfc = df.select(col("name"), col("gender"), expr("cast(salary as string) as MonthlySalary"), df.salary, df.gender)

display(dfc)

In [0]:
ddfgh = dfc.selectExpr("name as employeeName", "cast(gender as string) as gendeer", "cast(MonthlySalary as int) as salaryy" )

In [0]:
display(ddfgh)

In [0]:
display(df)

In [0]:
dfFiltered = df.select("age","employee_id","department_id","hire_date").where(df.department_id == 103)

In [0]:
display(dfFiltered)

In [0]:
dfFiltered.write.format("csv").save("/data/dfFiltered.csv")

In [0]:
schema_str= "name string, age int"
from pyspark.sql.types import _parse_datatype_string
schema = _parse_datatype_string(schema_str)
schema